<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto+Slab" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FTLHackathon2016" %></title>
    <meta name="google-site-verification" content="9cH_z3Jg3l5xeajhPCLLbkBwuoSS2H5ZUtsgxxTIk6g" />

    <script src="https://use.fontawesome.com/ea36aa4231.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">FtL Paddling</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Landmarks", "/path1"  %></li>
            <li><%= link_to "Food", "/path2"  %></li>
            <li><%= link_to "Pokestops", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <%= image_tag("johnny-automatic-canoe-traveling-300px.png", height: 100, style:"float:center; margin: 0 20%;") %>
            <h3>Points of Interest</h3>
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li><%= link_to "Paddle Rentals", "https://www.google.com/search?q=paddle+board+rentals+ft+lauderdale&oq=paddle+rentals+ft+la&aqs=chrome.1.69i57j0l5.7542j0j1&sourceid=chrome&ie=UTF-8", target:"blank" %></li>
              <li><%= link_to "Historical Landmarks", "/path2"  %></li>
              <li><%= link_to "Food", "https://www.google.com/search?q=paddle+board+rentals+ft+lauderdale&oq=paddle+rentals+ft+la&aqs=chrome.1.69i57j0l5.7542j0j1&sourceid=chrome&ie=UTF-8#q=food+near+new+river+fort+lauderdale&rflfq=1&rlha=0&rllag=26115549,-80141741,524&tbm=lcl&tbs=lf_msr:-1,lf_tr:-1,lf_pl:0,lf_od:-1,lf_oh:-1,lf_zg:-1,lf:1,lf_ui:9", target:"blank"  %></li>
              <li><%= link_to "Pokestops", "/path3"  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
    </div> <!-- /container -->

    <div class="container">
      <iframe
        width="100%"
        height="250"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAwWb8udA2tRsEVZJjSblwsw1nk-H8mAmg&q=tarpon+river+fort+lauderdale+restaurants"
        style="border:2px solid rgb(0,81,124);">
      </iframe>
    </div>

    <!-- <% if Rails.env.development? %>
      <%#= console %>
      <%#= debug(params) %>
    <%end%> -->

    <footer>
      <div class="container">
        <div class="row">
          <p class="col-lg-2 col-lg-offset-1">&copy; CodeForFtL 2016</p>
          <ul class="col-lg-3 col-lg-offset-2">
            <li><a href="http://www.fortlauderdale.gov/">City of Fort Lauderdale</a></li>
            <li><a href="https://www.fortlauderdalehistoricalsociety.org/">Fort Lauderdale Historical Society</a></li>
            <li><a href="http://tides.mobilegeographics.com/index.html">Tides</a></li>
            <li><a href="http://journals.fcla.edu/browardlegacy">Broward Legacy</a></li>
          </ul>
          <ul class="col-lg-3 col-lg-offset-1">
            <li><a href="https://weather.com/weather/tenday/l/USFL0149:1:US">Weather</a></li>
            <li><a href="https://www.tripadvisor.com/Search?q=paddle+boarding&geo=34227">SUP Rentals</a></li>
            <li><a href="https://www.tripadvisor.com/Search?geo=34227&pid=3826&typeaheadRedirect=true&redirect=&startTime=1469319010774&uiOrigin=MASTHEAD&q=kayak&returnTo=__2F__Tourism__2D__g34227__2D__Fort__5F__Lauderdale__5F__Broward__5F__County__5F__Florida__2D__Vacations__2E__html__2F__&searchSessionId=A6B512C878153FDE15A7ED2731C0505D1469304574847ssid">Kayak Rentals</a></li>
            <li><a href="http://codeforftl.org/">Code for Fort Lauderdale</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
